<div class="signArea" >
    <div class="card">
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            @if (errAlert) {
                <small class="err"><i class="fa-solid fa-circle-info"></i> {{errorSMS}}</small>
            }
            @else if (successLogin) {
                <small class="success"><i class="fa-solid fa-address-book"></i>Signed in Successfully</small>
            }

            <h1>Welcome Back</h1>


            <div class="main-area">
                <div class="area">
                    <i class="fa-solid fa-envelope"></i>
                    
                    <input type="email" formControlName="email" placeholder="Enter your email">
                </div>
                <div class="area">
                    <i class="fa-solid fa-lock"></i>
                   
                    <input type="password" formControlName="password" placeholder="Enter your password">
                </div>
                <p>Forgot password?</p>

            </div>
            <div class="okey">

                <button class="submit" [disabled]="signInForm.invalid" type="submit">Sign In</button>
                </div>

        </form>
        <div class="mainimgtext">
            <div class="imgtext">
                <h1 class="new">New Here?</h1>
                <p>Sign up and discover great amount of new opportunities!</p>
            </div>
            <button class="signButton">Sign Up</button>
        </div>

    
</div>
</div>