<nav appScrolling>
  <div class="mainh1">
    <i class="fa-solid fa-desktop fa-2xl laptop" style="color: #ffffff;" routerLink="/" ></i>
    <h1 class="adzin" id="none" routerLink="/">TechStore</h1>

  </div>


  <div class="account">
    @if (!isLoggedIn) {
      <button routerLink="/register">
        <i class="fa-solid fa-user-plus fa-lg" style="color: #ffffff;"></i>Create Account
      </button>
      <button routerLink="/Signin">
        <i class="fa-solid fa-right-to-bracket fa-lg" style="color: #ffffff;"></i> Sign in
      </button>
    } @else {
      <button><img [src]="userImg" alt="">{{userName}}</button>
      <button (click)="signOut()"><i class="fa-solid fa-right-to-bracket"></i> Sign Out</button>
    }
  </div>
</nav>

@if (isSignShow) {
  <app-sign-in
    (closeEmit)="closeForm($event)"
    (changeEmit)="showRegister()"
    (loggedEmit)="loggedIn($event)"
    (loggedInfo)="profileInfoNav($event)"
  ></app-sign-in>
}
@if (isRegisterShow) {
  <app-sign-up
    (closeEmit)="closeRegister($event)"
  ></app-sign-up>
}