.container {
  color: #e3e3e3;
  background-color: #1E1E1E;
  padding-bottom: 50px;
  min-width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 50px;
  justify-content: center;
  height: fit-content;
}

.main-but {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
  flex-direction: column;
}

.card-wrapper {
  perspective: 1000px;
  width: 260px;
  height: 400px;
  
}

.but{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-wrapper:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  overflow: hidden;
  background: linear-gradient(145deg, #2A2A2A, #1B1B1B); /* Dark stylish background */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4); /* Deeper shadow */
  color: #e3e3e3;
}

.card-front {
  display: flex;
  flex-direction: column;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateY(180deg);
  padding: 20px;
  gap: 20px;
  background: linear-gradient(145deg, #1C1C1C, #2C2C2C);
}

img {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #444;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-back .add-cart {
  background-color: #00BFFF;
  color: #1E1E1E;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.card-back .add-cart:hover {
  background-color: #0099cc;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

h2 {
  text-align: center;
  font-size: 1.1rem;
}

.h2 {
  color: #00ffae;
  font-weight: bold;
}

sub {
  color: #888;
  text-decoration: line-through;
  font-size: 0.9rem;
  margin-left: 4px;
}

.view {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewMore {
  text-decoration: none;
  color: #e3e3e3;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #2f2e2e;
  border: none;
  transition: 0.3s ease;
  margin: 10px;
  font-weight: bold;
}

.viewMore:hover {
  background-color: #444;
  color: #00ffae;
  transform: scale(1.05);
}
