<section class="container">

<main>
  @for (item of productList; track $index) {
    <div class="card-wrapper">
      <div class="card-inner">
        <div class="card-front">
          <img [src]="item.images[0]" alt="product" />
          <div class="main-but">
            <h2 class="title">{{item.title}}</h2>
            <div class="but">
              <h2 class="h2">
                ${{item.price.current}} 
                <sub>${{item.price.beforeDiscount}}</sub>
              </h2>

            </div>
          </div>
        </div>
        <div class="card-back">
          <h1>Description</h1>
          <p>{{item.description}}</p>
        <button routerLink="/details/{{item._id}}" class="add-cart"><i class="fa-solid fa-eye"></i> See Details </button>
        </div>
      </div>
    </div>
  }
 
</main>
 <div class="view">
  <button routerLink="/shop" class="viewMore" (click)="scrollToTop()" >View More</button>

</div>
</section>
