<div class="grid" gsapReveal revealChildren="app-product-card" [revealY]="56" [revealStagger]="0.07">
  @if (loading) {
    <app-product-skeleton [count]="8" />
  } @else if (failed) {
    <p class="fallback">
      We couldn't reach the catalogue just now.
      <button class="link-arrow" (click)="showCards()">Try again <i class="fa-solid fa-rotate-right"></i></button>
    </p>
  } @else {
    @for (item of productList; track item._id; let i = $index) {
      <app-product-card [product]="item" [index]="i" (quickView)="openQuickView($event)" />
    }
  }
</div>

<app-quick-view [product]="quickViewProduct" (closed)="closeQuickView()" />
