.spline-container {
  width: 100%;
  height: 600px;
  pointer-events: none;
}

@media screen and (max-width: 550px) {
  .spline-container {
    height: 400px;
    pointer-events: none;
  }
}

canvas {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  pointer-events: none;
}
