<div class="main-arrea">
  <div class="main-area">
    <div class="brands">
      <h1>Brands</h1>
      <select class="brands-dropdown" [(ngModel)]="activeBrand" (change)="getBrandData(activeBrand)">
        <option value="All"><i class="fa-solid fa-tag fa-lg" style="color: #000000;"></i> All</option>
        @for (item of brands; track $index) {
          <option [value]="item"><i class="fa-solid fa-tag fa-lg" style="color: #000000;"></i> {{ item }}</option>
        }
      </select>
    </div>
    
    <div class="main-filterr">
      <div class="search">
        <span class="material-symbols-outlined">manage_search</span>
        <input
          class="search-input"
          (keyup.enter)="searchData()"
          type="search"
          placeholder="Search here..."
          [(ngModel)]="searchText"
        />
      </div>
  
      <div class="prices">
        <h4>Select price:</h4>
        <input class="range" type="text" placeholder="From" [(ngModel)]="minPrice" />
        <input class="range" type="text" placeholder="To" [(ngModel)]="maxPrice" />
      </div>
  
      <div class="rating">
        <h4>Rating:</h4>
        <input type="number" placeholder="0" max="5" min="0" [(ngModel)]="rating" />
      </div>
  
      <div class="sort">
        <select class="dropdown" [(ngModel)]="type">
          <option value="">Choose Type</option>
          <option value="rating">Rating</option>
          <option value="price">Price</option>
          <option value="issue_date">Issue Date</option>
          <option value="title">Title</option>
        </select>
  
        <select class="dropdown" [(ngModel)]="sort">
          <option value="">Sort Direction</option>
          <option value="asc">Ascendes</option>
          <option value="desc">Descendes</option>
        </select>
      </div>
  
      <button class="filter-button" (click)="filterData()">Filter</button>
    </div>
    </div>

    
  
</div>
