

<app-spline-view></app-spline-view>


<section class="shopInfos">
  @for (item of shopCards; track $index) {
  <div class="card">
    <i class="fa-solid {{ item.icon }} icon"></i>
    <h4>{{ item.header }}</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur
    </p>
  </div>
  }
</section>

<section id="arrivals">
    <main class="container">
        <div class="infos">
        <h1>20% Off On Every Product</h1>
        <p>Discover Deals Today!</p>
        </div>
    </main>
</section>
<div class="bestS">
  <h1 >Best Selling</h1>
</div>

<button class="scrollToTop " (click)="scrollToTop()">
  <i class="fa-solid fa-arrow-up fa-xl" style="color: #ffffff;"></i>
</button>


<app-several-products></app-several-products>